header {
	background-image: url("https://qph.ec.quoracdn.net/main-qimg-896a520315183b6b8c9c3717a8c7a808");
	width: 600px;
	height: 100px;
	margin: 0 auto;
	border-radius: 10% 10%;
}
body {
    background: url("https://ak7.picdn.net/shutterstock/videos/24522/thumb/1.jpg");
}
h1 {
	padding-top: 50px;
	font-family: arial;
	text-align: center;	
}
#gegevens {
	font-family: arial;
	padding-left: 250px;
	
}
#gegeven {
	font-family: arial;
	padding-left: 250px;
	padding-top: 200px;
}
#hobbys {
	font-family: arial;
	padding-left: 300px;
}
#hobby {
	font-family: arial;
	padding-left: 300px;
}
#imagetxt {
	text-align: center;
}
#img1 {
	position: absolute;
	float: right;
}
#werk {
	font-family: arial;
	padding-left: 350px;
}
#werke {
	font-family: arial;
	padding-left: 350px
}
#ik {
	font-family: arial;
	padding-left: 400px;
}

#ike {
	font-family: arial;
	padding-left: 400px;
}
li {
    display: inline;
}
#imgA {
	position: absolute;
}
#imgB {

}
#imgC{
}